<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JSONFetcher.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>67</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BBFE778BEB788BEBF1D08D015A7639A4D4E87730</string>
				<key>dateExpires</key>
				<string>10/05/24</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>67</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBFE778BEB788BEBF1D08D015A7639A4D4E87730</string>
						<key>dateExpires</key>
						<string>10/05/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HXF73TQY52</string>
						<key>name</key>
						<string>Tony Qumsieh</string>
					</dict>
					<key>versionNumber</key>
					<string>2.9.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>67</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBFE778BEB788BEBF1D08D015A7639A4D4E87730</string>
						<key>dateExpires</key>
						<string>10/05/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HXF73TQY52</string>
						<key>name</key>
						<string>Tony Qumsieh</string>
					</dict>
					<key>versionNumber</key>
					<string>2.9.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>67</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBFE778BEB788BEBF1D08D015A7639A4D4E87730</string>
						<key>dateExpires</key>
						<string>10/05/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HXF73TQY52</string>
						<key>name</key>
						<string>Tony Qumsieh</string>
					</dict>
					<key>versionNumber</key>
					<string>2.9.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>67</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBFE778BEB788BEBF1D08D015A7639A4D4E87730</string>
						<key>dateExpires</key>
						<string>10/05/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HXF73TQY52</string>
						<key>name</key>
						<string>Tony Qumsieh</string>
					</dict>
					<key>versionNumber</key>
					<string>2.9.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>67</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBFE778BEB788BEBF1D08D015A7639A4D4E87730</string>
						<key>dateExpires</key>
						<string>10/05/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HXF73TQY52</string>
						<key>name</key>
						<string>Tony Qumsieh</string>
					</dict>
					<key>versionNumber</key>
					<string>2.9.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>67</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBFE778BEB788BEBF1D08D015A7639A4D4E87730</string>
						<key>dateExpires</key>
						<string>10/05/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>HXF73TQY52.io.jibon.apps.FarmasiPalestine.OneSignalNotificationServiceExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>HXF73TQY52</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>79a5f497-a637-4f6d-8ca0-74268066c89d</string>
						<key>dateExpires</key>
						<string>10/05/24</string>
						<key>name</key>
						<string>ios-onesignal</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HXF73TQY52</string>
						<key>name</key>
						<string>Tony Qumsieh</string>
					</dict>
					<key>versionNumber</key>
					<string>2.9.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HXF73TQY52.io.jibon.apps.FarmasiPalestine</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>HXF73TQY52</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>JSONFetcher.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>69a850cd-713f-4075-b399-aebd30a97575</string>
				<key>dateExpires</key>
				<string>10/05/24</string>
				<key>name</key>
				<string>ios-stores</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HXF73TQY52</string>
				<key>name</key>
				<string>Tony Qumsieh</string>
			</dict>
			<key>versionNumber</key>
			<string>2.9.2</string>
		</dict>
	</array>
</dict>
</plist>
